* {}
body{min-width: 340px; }
.navbar {height: 70px; width: 100%;}
.nav-h li {display: inline-block; list-style: none; font-style: italic; font-size: 13px; margin: 25px 0px 0px 15px;}
.nav-h li a {color: #fff; list-style: none;}
.navbar button > span {height: 2px; width: 25px ;background-color: #fff; display: block; padding: 1px; margin: 0px 0px 7px 0px }


.button-login {font-size: 10px; background-color: #d3d3d3;}

.formul {width: 100%; height: 50px; padding: 10px 90px 0px 0px;}
.f-line {}
.formul-form {float: right;}
.text-b {font-size: 15px; width: 440px;}
.formul button {font-size: 15px; width: 100px; background-color: #d3d3d3; border-radius: 5px;}

.sect-title {color: red; font-size: 25px;}
.main-r-side {padding: 80px 50px 50px 50px;}
.r-line1 {height: 0.5px; background-color: #f2f2f2; width: 100%; float: left; margin: 0px 0px 30px 0px;}

.r-content1 {padding: 5px 15px 20px 15px; margin: 0px 0px 25px 0px}
.r-content1 h2 {font-size: 20px;}
.data {font-size: 12px; margin-bottom: 0px;}
.r-line2 {margin: 4px 0px 4px 0px; background-color: #f2f2f2;}
.r-content-txt {font-size: 15px;}
/*.r-content-txt::first-letter {font-size: 20px;}*/

.r-content {margin:  0px 0px 16px 0px; padding: 5px 15px 12px 15px;}
.r-content h3 {font-size: 16px; font-weight: bold;}
.r-content-bg {background-color: #f2f2f2; margin:  0px 0px 16px 0px; padding: 5px 15px 12px 15px;}
.r-content-bg h3 {font-size: 16px; font-weight: bold;}

.main-l-side {padding: 100px 80px 20px 50px;}
@media (max-width: 768px) {.main-l-side {padding: 0px 10px 0px 10px;}}
.l-line {background-color: red; height: 2px;}
.l-content-txt {font-size: 15px;}
.l-section {margin: 25px 0px 0px 0px;}
.ln-title {font-size: 20px; font-weight: bold; color: #777; margin-top:-12px;}
.rptg-title {font-size: 20px; color: #777;margin-top: 18px;}

.rodape {background-color: #444; padding: 10px 0px 10px 0px; margin-top: 20px; bottom: 0px;}
.rodape h4 {display: block; font-size: 15px; color: #fff; text-align: center; margin: none;}
/*Breakpoint Pedido*/
@media (max-width: 646px) { 
	.main-r-side {padding: 0px;}
	.main-l-side {padding: 0px 10px 0px 10px;}
	.formul {padding: 10px 20px 0px 0px;} 
	.text-b {font-size: 15px; width: 200px;}
	.sect-title {font-size: 35px;}
	.r-content1 h2 {font-size: 30px;}
}

/*PAGE2*/


.pg2-title {bottom:-20px; position: relative; margin-left: 50px; background-color: #fff; width: 200px; font-size:18px;}
.pg2-form {margin-top: 30px;}
.container {border: solid 1px #111; border-radius: 10px; width: 600px; height: 300px; float: left;}	




